<div class="banner banner-paralax_team" >
  <div class="title">
    <h1 class="title__main title__main-team">OUR TEAM</h1>
    <div class="line">
      &nbsp;
    </div>
  </div>
</div>

<!-- EXECUTIVE TEAM -->
<div class="wrapper wrapper-white">
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center">
             <%=  image_tag "noah.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBERG</strong></h4>
            </div>
            <div class="profile__position">
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "sam_gross.jpeg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SAM GROSS</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, RESEARCH</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "melanie_holohan.jpeg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MELANIE HOLOHAN</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, PROGRAMMING</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- RESEARCH TEAM -->
<div class="wrapper wrapper-gray">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">RESEARCH</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile text-center">
            <%= image_tag "spencer_feingold.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SPENCER FEINGOLD</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "luke_hicks.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>LUKE HICKS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "betsy_ladyzhets.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>BETSY LADYZHETS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "diana_shishkina.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DIANNA SHISHKINA</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDITORIAL TEAM -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">EDITORIAL</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-">
          <div class="profile text-center">
            <%= image_tag "nicole_caldwell.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NICOLE CALDWELL</strong></h4>
            </div>
            <div class="profile__position">
              <p>DEPUTY MANAGING EDITOR</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "kristen_wegrzyn.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>KRISTEN WEGRZYN</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PROGRAMMING TEAM -->
<div class="wrapper wrapper-white">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">PROGRAMMING</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center">
            <%= image_tag "danielle_tingley.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DANIELLE TINGLEY</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "morgan_mullings.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MORGAN MULLINGS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "aishwarya_sukesh.jpeg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>AISHWARYA SUKESH</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

